*~
.vagrant/
.cache/

# python
src/python/.venv/
src/python/tchoupi.egg-info/
*.pyc
.tox/

# haskell
src/haskell/log/

# commonlisp
src/commonlisp/.clenv/

# clojure
src/clojure/target/

# go
src/go/bin/
src/go/pkg/

# rust
src/rust/target/

# erlang
src/erlang/.erlang.mk/
src/erlang/_rel/
src/erlang/erlang.d