*~
.vagrant/
.cache/

# python
src/python/venv/
src/python/tchoupi.egg-info/
*.pyc
.tox/

# haskell
src/haskell/log/

# commonlisp
src/commonlisp/quicklisp/
src/commonlisp/roswell/tchoupi
src/commonlisp/qlfile.lock

# clojure
src/clojure/target/

# go
src/go/bin/
src/go/pkg/

# rust
src/rust/target/

# erlang
src/erlang/.erlang.mk/
src/erlang/_rel/
src/erlang/erlang.d
src/erlang/relx
src/erlang/tchoupi.d

# ocaml
src/ocaml/_build
src/ocaml/*.native
src/ocaml/*.byte
src/ocaml/*.docdir
src/ocaml/setup.data
src/ocaml/setup.log
