%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et


{erl_opts, [fail_on_warning, debug_info]}.


%% Additional library directories to add to the code path
{lib_dirs, []}.


%% == Dependencies ==

{deps_dir, "deps"}.

{deps, [
    {'cowboy', ".*", {
        git, "git://github.com/extend/cowboy.git", {tag, "0.8.6"}}
    }
]}.

%% == EUnit ==

{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.
