%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et


{erl_opts, [
            fail_on_warning,
            debug_info,
            parse_transform,
            lager_transform
           ]}.


%% Additional library directories to add to the code path
{lib_dirs, ["deps"]}.
{src_dirs, ["src", "test"]}.

%% == Dependencies ==

{deps_dir, "deps"}.

{deps, [
        {'cowboy',
         "0.8.6",
         { git, "git://github.com/extend/cowboy.git", {tag, "0.8.6"}}
        },
        {'lager',
         "2.0.0",
         { git, "git://github.com/basho/lager.git", {tag, "2.0.0"}}
         }
       ]}.

%% == EUnit ==

{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.

%% == Common_Test ==

{plugins, [rebar_ct]}.
{ct_exclude_deps, true}.
